html{
    background-color: #292727;
}
*{
    margin: 0;
    padding: 0;
}

body {
  height: 100vh;            
  display: flex;
  flex-direction: column;
  justify-content: center; 
  align-items: center;   
  gap: 20px;   
  
}
h1{
  color: whitesmoke;
}
form {
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: center;
}

input{
    background-color: transparent;
    border: 2px solid whitesmoke;
    width: 45vw;
    padding: 15px 35px;
    border-radius: 50px;
    color: white;
}

button{
    width: 15vw;
    height: auto;
    padding: 20px 10px;
    color: white;
    background-color: #78C67E;
    display: block;
    border-radius: 50px;
}

@media (max-width: 884px) {
    input{
      width: 60vw;
    }
    button{
      width: 30vw;
    }
}

@media (max-width: 448px) {
    input{
      width: 60vw;
    }
    button{
      width: 40vw;
    }
}
